
.piratas-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.piratas-left {
    flex: 1;
    margin-right: 20px;
    text-align: center;
}

.piratas-title {
    font-size: 36px;
    color: #333;
}

.fest {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

.piratas-festival {
    text-align: center;
}

.piratas-text {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
}

.piratas-right {
    flex: 1;
    text-align: center;
}

.piratas-image {
    /* width: 200px; */
    height: auto;
    border-radius: 50%;
    /* border: 5px solid #333; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .piratas-main {
        flex-direction: column-reverse; /* Revertendo a ordem dos itens */
    }

    .piratas-left, .piratas-right {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .piratas-left {
        margin-bottom: 20px;
    }
}

body {
    background: linear-gradient(to bottom right, #FFDAB9, #FFA500);
}

.piratas-image1 {
    /* width: 200px; */
    height: auto;
    border-radius: 50%;
    background-color: #333;
    /* border: 5px solid #333; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para o parágrafo do card */
.card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}


/* Estilo para o botão */
.button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
    scale: 3;
}

.button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.button:active {
    scale: 1;
}

.festival-content {
    height: auto;
    margin-top: 50px;
    /* border: 5px solid #333; */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .conteudo {
        justify-content: center; 
        padding: 0 10px;
    }
    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texto-esquerda, .texto-generosa {
        position: relative;
        right: auto;
        left: 0; 
        width: calc(90% - 40px);  
        margin-right: auto; 
    }

    .oliver2 {
        width: 1150px;
        height: auto; 
    }
    }
    

    img {
        max-width: 80%; 
    }

    @media (max-width: 768px) {
        .texto, .texto1 {
            left: 50%; 
            transform: translateX(-50%);  
            width: 90%;  
            padding: 20px; 
            box-sizing: border-box; 
        }
        
    }
    